* {
    margin: 0 auto;
    font-family: Lato, sans-serif;
}

.positions {
    height: 100vh;
}

.task_title {
    font-family: Lato, sans-serif;
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
    color: black;
}

.pos_1 {
    position: absolute;
    background-color: red;
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 300px;
    /*width: 300px;*/
    /*text-align: center;*/
    /*vertical-align: center;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    top: 100px;
    display: table-cell;
    vertical-align: middle;
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*right: 0;*/
    /*height: 300px;*/
}

.pos_2 {
    /*display: flex;*/
    align-items: center;
    position: absolute;
    background-color: blue;
    /*width: 300px;*/
    width: 300px;
    display: table-cell;
    vertical-align: middle;
    /*vertical-align: center;*/
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    height: 300px;
    /*height: 300px;*/
    /*right: 0;*/
    /*bottom: 0;*/
    bottom: 0;
    right: 0;
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
}

/*.pos_3 {*/
/*position: absolute;*/
/*background-color: red;*/
/*}*/

.box-sizing {
    /*box-sizing: border-box;*/
    /*box-sizing: content-box;*/
    /*display: inline-block;*/
    /*display: inline;*/
    display: block;
}

.el_1 {
    /*box-sizing: content-box;*/
    box-sizing: border-box;
}

.flex-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    /*margin: 1rem;*/
    /*align-items: center;*/
    /*flex-direction: row;*/
}

.df_el {
    box-sizing: border-box;
}

/*.flex-box:nth-of-child(even) {*/
/*color: blue;*/
/*}*/
.df_el:nth-child(odd) {
    color: blue;
    background-color: tomato;
    padding: 5px;
    /*background-color: tomato;*/
}

.df_el:nth-child(even) {
    color: red;
    background-color: yellow;
    padding: 5px;
    /*background-color: tomato;*/
}

.flex-box > div {
    margin: 1rem;
}

.df_el_1 {
    display: flex;
    /*justify-content: center;*/
    /*flex-direction: row-reverse;*/

    /*justify-content: center;*/
}

.javascript_themes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    /*flex-direction: column;*/
}

.javascript_themes > .js_task:first-child {
    margin-top: 20px;
}

.js_task {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    /*flex-direction: column;*/
}

.almost_done {
    color: tomato;
    font-size: 35px;
    font-weight: 700;
}