* {
    margin: 0 auto;
    font-family: Lato, sans-serif;
    list-style: inherit;
    /*text-align: center;*/
}

div p {
    color: red;
    font-size: 20px;
}

div ~ p {
    color: green;
    font-size: 15px;
}

div + p {
    color: #0033ff;
    font-size: 40px;
}

nav {
    position: fixed;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100px;
    vertical-align: center;
    display: flex;
}

nav > p {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

button {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 50px;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    /*font-weight: 800;*/
    font-size: 12px;
}

.positions {
    height: 100vh;
    /*position: absolute;*/
    /*right: 0;*/
}

.task_title {
    font-family: Lato, sans-serif;
    /*margin-top: 70px;*/
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 2rem;
}

input {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 30px;
    background: gold;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.pos_1 {
    position: absolute;
    background-color: red;
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 300px;
    /*width: 300px;*/
    /*text-align: center;*/
    /*vertical-align: center;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*top: 100px;*/
    display: table-cell;
    vertical-align: middle;
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*right: 0;*/
    /*height: 300px;*/
}

.pos_2 {
    /*display: flex;*/
    align-items: center;
    position: absolute;
    background-color: blue;
    /*width: 300px;*/
    width: 300px;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*vertical-align: center;*/
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    height: 300px;
    /*height: 300px;*/
    /*right: 0;*/
    /*bottom: 0;*/
    bottom: 0;
    right: 0;
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
}

/*.pos_3 {*/
/*position: absolute;*/
/*background-color: red;*/
/*}*/

.box-sizing {
    /*box-sizing: border-box;*/
    /*box-sizing: content-box;*/
    /*display: inline-block;*/
    /*display: inline;*/
    display: block;
}

.el_1 {
    /*box-sizing: content-box;*/
    box-sizing: border-box;
}

.flex-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

    /*margin: 1rem;*/
    /*align-items: center;*/
    /*flex-direction: row;*/
}

.df_el {
    box-sizing: border-box;
}

/*.flex-box:nth-of-child(even) {*/
/*color: blue;*/
/*}*/
.df_el:nth-child(odd) {
    color: blue;
    background-color: tomato;
    padding: 5px;
    /*background-color: tomato;*/
}

.df_el:nth-child(even) {
    color: red;
    background-color: yellow;
    padding: 5px;
    /*background-color: tomato;*/
}

.flex-box > div {
    margin: 1rem;
}

.df_el_1 {
    display: flex;
    /*justify-content: center;*/
    /*flex-direction: row-reverse;*/

    /*justify-content: center;*/
}

.javascript_themes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    /*flex-direction: column;*/
}


.javascript_themes > .js_task:first-child {
    margin-top: 20px;
}

.js_task {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    /*flex-direction: column;*/
}

.almost_done {
    color: tomato;
    font-size: 35px;
    font-weight: 700;
}

.example1 * {
    text-align: center;
    margin: 10px;
    border: 1px solid blue;
}


/*@media screen and (min-width: 320px) and (max-width: 400px){*/
/*.media_queries {*/
/*margin-top: 20px;*/
/*width: 320px;*/
/*text-align: center;*/
/*}*/

/*.title {*/
/*font-size: 20px;*/
/*font-weight: 700;*/
/*color: tomato;*/
/*}*/

/*.subtitle {*/
/*font-size: 15px;*/
/*font-weight: 400;*/
/*color: greenyellow;*/
/*}*/

/*.name_list {*/
/*display: flex;*/
/*justify-content: center;*/
/*flex-direction: column;*/
/*}*/

/*.person:nth-of-type(1) {*/
/*margin-top: 15px;*/
/*}*/

/*.person:nth-child(even) {*/
/*display: flex;*/
/*color: red;*/
/*justify-content: center;*/
/*align-items: center;*/
/*flex-direction: column;*/
/*}*/

/*.person:nth-child(odd) {*/
/*display: flex;*/
/*font-size: 24px;*/
/*color: blueviolet;*/
/*justify-content: center;*/
/*align-items: center;*/
/*flex-direction: column;*/
/*}*/
/*}*/

#bagua-table th {
    text-align: center;
    font-weight: bold;
}

#bagua-table td {
    width: 150px;
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 12px;
}

#bagua-table .nw {
    background: #999;
}

#bagua-table .n {
    background: #03f;
    color: #fff;
}

#bagua-table .ne {
    background: #ff6;
}

#bagua-table .w {
    background: #ff0;
}

#bagua-table .c {
    background: #60c;
    color: #fff;
}

#bagua-table .e {
    background: #09f;
    color: #fff;
}

#bagua-table .sw {
    background: #963;
    color: #fff;
}

#bagua-table .s {
    background: #f60;
    color: #fff;
}

#bagua-table .se {
    background: #0c3;
    color: #fff;
}

#bagua-table .highlight {
    background: red;
}

#color {
    transition-property: background-color;
    transition-duration: 3s;
    transition: font-size 3s, color 2s, width 2s, height 2.5s;
}

#digit {
    width: .5em;
    overflow: hidden;
    font: 32px "Courier New", monospace;
}

#stripe.animate {
    /*text-align: center;*/
    margin-left: -174px;
    transition-property: margin-left;
    transition-duration: 3s;
    transition-timing-function: linear;
}

#boat {
    margin-left: 0;
    cursor: pointer;
    transition: margin-left 3s ease-in-out;
}
/* переворот картинки через CSS */

.back {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: flipH();
    /* IE9- */
}

@keyframes go-left-right {   /* назовём анимацию: "go-left-right" */
    from {
        left: 0;               /* от: left: 0px */
    }
    to {
        left: calc(100% - 55px); /* до: left: 100%-50px */
    }
}


.progress {
    /* применить анимацию go-left-right */
    /* продолжительность 3s */
    /* количество раз: бесконечное (infinite) */
    /* менять направление анимации каждый раз (alternate) */
    animation: go-left-right 4s infinite alternate;
    position: relative;
    border: 2px solid green;
    width: 70px;
    height: 30px;
    /*display: flex;*/
    /*margin: 0 auto;*/
    /*align-items: flex-start;*/
    background: lime;

}


.red {
    color:green;
}
.green {
    color:red;
}
.red .green {
    color:yellow;
}

#black {
    color:black;
}